/*RESET*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body {
    background-color: #fcd6e6;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 16px;
    gap: 16px;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    color: #fd829f;
    text-shadow: 2px 3px 0px #eb4e72;
}

.container__image {
    background-image: url(img/login-img.jpg);
    background-size: cover;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 32px;
}

.container__login {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.box__wellcome p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #fd829f;
}

.login {
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.login input {
    width: 280px;
    height: 48px;
    padding-left: 24px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-shadow: 2px 3px 0px 0px #eb4e72;
}

input::placeholder {
    color: #d1cece;
}

.recovery__password a {
    font-family: 'Poppins', sans-serif;
    color: #fd829f;
    text-decoration: none;
    font-size: 12px;
}

.recovery__password {
    margin: 8px 0 16px 0;
} 

.button__login {
    width: 100%;
    padding:12px 0;
    border: none;
    border-radius: 8px;
    background-color: #fd829f;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all .8s ease;
    box-shadow: 2px 3px 0px 0px #eb4e72;
}

.button__login:hover {
    background-color: #fd96ae;
}

@media (max-width: 800px) {
    .container__login {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .container__image {
        position: relative;
        width: 100%;
    }
}